# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Microsoft Visual Studio files
**/Debug/*
**/Release/*
**/ipch/*
*.sdf
*.opensdf
*.suo
*.vcxproj.user

# Directories
external/*
doc/*
Data*/*
data*/*
Results*/*
results*/*
*-ignore/*
**/gcc*/*

# exceptions
!/HCSearch.exe
!/external/vw.exe
!/external/LICENSE